.item-container {
  width: 350px;
}

.item-container p {
  margin: 6px 0px;
}

.item-prices {
  display: flex;
  gap: 20px;
}

.item-original-price-with-discount {
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.item-original-price {
  font-size: 18px;
  font-weight: 500;
}

.item-new-price {
  color: red;
  font-weight: 600;
  font-size: 18px;
}

.item-container img:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}
