img {
    width: 100%;
    display: flex;
}

.navbar {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: auto;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-bottom: 0.2rem;
}

.link a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 80%;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-login-cart img {
    min-width: 2.5rem;
}

.btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
