.category-list-container {
  margin: auto;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-list-container h1 {
  font-size: 50px;
  font-weight: 600;
}

.category-list-container hr {
  width: 200px;
  border: 3px solid #333;
  border-radius: 10px;
}

.category-list {
  margin: 50px 0;
  width: 75%;
}

.arrows {
  height: 20px;
  width: 20px;
}

.slick-slide > div {
  margin: 0 5px;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  background: grey;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  height: 60px;
  width: 25px;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
  background: grey;
  opacity: 1;
}

.slick-arrow.slick-prev.slick-disabled,
.slick-arrow.slick-next.slick-disabled {
  opacity: 0.5;
}
